# Игнорировать файлы компиляции и бинарные файлы
*.exe
*.dll
*.class
*.jar

# Игнорировать файлы конфигурации
*.config
*.env

# Игнорировать папку с зависимостями
node_modules/

# Игнорировать файлы логов и временные файлы
logs/
tmp/
