# Игнорировать файлы компиляции и бинарные файлы
*.exe
*.dll
*.class
*.jar

# Игнорировать файлы конфигурации
*.config
*.env

# Игнорировать папку с зависимостями
node_modules/

# Игнорировать файлы логов и временные файлы
logs/
tmp/

../EF_web_app/EF_web_app/obj/
obj/
/**/obj/**/*
/./**/obj/**/*
./**/obj/**/*
**/obj/**/*
*/obj/**/*
obj/**/*
/**/obj/*
./**/**/obj
./**/obj

../EF_web_app/EF_web_app/bin/
bin/
/**/bin/**/*
/./**/bin/**/*
./**/bin/**/*
**/bin/**/*
*/bin/**/*
bin/**/*
/**/bin/*
./**/**/bin
./**/bin

../EF_web_app/.vs/EF_web_app/FileContentIndex/